.content {
  max-width: 400px;
  margin: 60px auto;
  padding: 10px;
}

.heading {
  margin-bottom: 15px;
}

ul {
  list-style: none;
}

li {
  background: var(--item-background);
  padding: 8px;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  height: 50px;
}

input {
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
  height: 40px;
  outline: none;
}

button {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  background: var(--btn-background);
  color: var(--btn-foreground);
  border-radius: 4px;
  height: 40px;
}

button:hover {
  background: var(--btn-hover);
}

.loginButton{
  background: none;
  border: 1px solid var(--btn-background);
}

.addBtn {
  width: 100%;
}

.actionBtn {
  width: 100px;
  margin: 5px
}
